h1 {
  text-align: center;
}

.nav {
  background-color: gray;
  height: 45px;
  text-align: center;
  padding-top: 25px;
  font-size: 1px;

}
p {
  text-align: center;
}
.error-box{
  color: red;
  background-color: rgb(250, 220, 220);
  border: 1px solid red;
  border-radius: 10px;
  padding-top: 10px;
}
a {
  color: black;
  text-decoration: none;
}
.body{
    background-color: lightgray;
}
.frame {
  color:black;
  background-color: white;
  border-color: black;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  border: 2px solid;

}